
@{
    ViewBag.Title = "Homepage";
}

<h1 class="display-1">Hello @ViewBag.username. Choose from one of the following options</h1>

<div id="homepage-options">
    <button id="btn-monthly-expenses" class="btn btn-option">View this months expenses</button>
    <button id="btn-monthly-budget" class="btn btn-option">Set Monthly Budget</button>
    <button id="btn-monthly-trend"class="btn btn-option">View Monthly Trend</button>
    <button id="btn-recommendations"class="btn btn-option">View Recommedations</button>
</div>