

<div class="container min-vh-100 d-flex flex-column justify-content-center" style="color:white;">
    <div class="row my-3">
        <div class="col">
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <canvas id="chLine" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <p><span style="color:green;font-weight:bold">Green = Budgeted Amount</span></p>
    <p><span style="color:red;font-weight:bold">Red = Expenses</span></p>
</div>

