

<div class="container min-vh-100 d-flex flex-column justify-content-center">
    <div class="row my-3">
        <div class="col">
            <h4>Bootstrap 4 Chart.js - Line Chart</h4>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <canvas id="chLine" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

