
@{
    ViewBag.Title = "ViewRecommendations";
}

    <div class="container" style="color:white">
        <h1 style="margin-bottom:10vh;border-bottom:1px white solid">Recommendations</h1>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">New Budget</label>
                    <input type="text"  id="recommendations-budget" class="form-control"  placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Month</label>
                    <input type="text" id="recommendations-month" class="form-control"  placeholder="">
                </div>
            </div>
            <button type="submit" id="view-recom" class="btn btn-primary">View Recommendations</button>
        </form>

        <div class="recommendations" style="margin-top:10vh">

        </div>
    </div>

    


